table {
  width: 100%;
  height: 400px;

}

#counter {
  width: 100px;
  height: 100px;
}

td  {
  border: 5px;
  border-color: black;
  border-style: solid;
}

#boardGame{
  padding-top: 25px;
}
.stats {
  height: 75px;
}
/*.boat {
  background-color: tomato;
}

.carrier {
  background-color: green;
}

.battleship {
  background-color: orange;
}

.submarine {
  background-color: brown;
}

.cruiser {
  background-color: purple;
}

.detroyer {
  background-color: darkgrey;
}

.mine {
  background-color: red;
}

.hitButton {
  background-color: : red;
}*/
