table {
  width: 50vw;
  height: 50vh;

}

#counter {
  width: 100px;
  height: 40px;
}

td  {
  border: 5px;
  border-color: black;
  border-style: solid;
}

.boat {
  background-color: tomato;
}

.carrier {
  background-color: green;
}

.battleship {
  background-color: orange;
}
